@import "tailwindcss";

.glassmorphism {
  background: rgba(255,255,255,0.2);
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.25);
  border-radius: 16px;
  backdrop-filter: blur(18px);
  box-shadow: 0 8px 32px 0 rgba(31,38,135,0.25);
  border: 1.5px solid rgba(255,255,255,0.3);
}
