:root {
  --color-text: #1e1e1e;
  --color-heading: #002b5c;
  --color-link: #004080;
  --color-link-hover: #002a66;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #f5f5f5;
    --color-heading: #81c9ff;
    --color-link: #a0d7ff;
    --color-link-hover: #c0e0ff;
  }
}
button:focus, a:focus, select:focus {
  outline: 3px solid #2563EB;
  outline-offset: 3px;
}